<html>
    <body>
        <form action="/predict" method="post">

            <p>Enter Cloud Cover</p>
            <p><input type="text" name="cd"></p>

            <p>Enter Annual Rainfall</p>
            <p><input type="text" name="ar"></p>

            <p>Enter Rainfall in Jan-Feb</p>
            <p><input type="text" name="jf"></p>

            <p>Enter Rainfall in Mar-May</p>
            <p><input type="text" name="mm"></p>

            <p>Enter Rainfall in Jun-Sep</p>
            <p><input type="text" name="js"></p>

            <p><input type="submit" value="Submit"></p>
            
        </form>
        <b>{{y}}</b>
    </body>
</html>