<html>
    <body>
        <form action="/login" method="post">

            <p>Enter R&D Spend</p>
            <p><input type="text" name="rd"></p>

            <p>Enter Administration Spend</p>
            <p><input type="text" name="ad"></p>

            <p>Enter MArketing Spend</p>
            <p><input type="text" name="mkt"></p>

            <label>Choose a State</label>
            <select name="s">
                <option value= "cal">California</option>
                <option value= "flo">Flourida</option>
                <option value= "ny">New York</option>
            </select>

            <p><input type="submit" value="Submit"></p>
            
        </form>
        <b>{{y}}</b>
    </body>
</html>